services:
  mysql:
    image: mysql:latest
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: pathologydb
      MYSQL_USER: pathologyuser
      MYSQL_PASSWORD: pathologypassword
    ports:
      - "3306:3306"
    networks:
      - mysql_network
    restart: always

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8088:8080"
    networks:
      - mysql_network
    restart: always

networks:
  mysql_network:
    driver: bridge
